<mat-toolbar class="">
  <div class="header">
    <!-- <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
    >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button> -->

    <div class="title">
      <p>{{title | uppercase}}</p>
    </div>

    <div class="logo">
        <mat-icon>inventory</mat-icon>
    </div>



    <!-- <div class="notification">
      <button style="margin:auto" mat-button class="menu-button" routerLink="/notificaciones">
        <mat-icon>notifications</mat-icon>
      </button>
    </div> -->

  </div>

</mat-toolbar>

<mat-sidenav-container tabindex="-2">
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z10" >
   <div class="content">
    <h4 class="wellcome">BIENVENIDO (A)</h4>
    <!-- <div class="title-sidenav">
      <p>{{title | uppercase}}</p>
    </div> -->
    <img
    class="avatar mat-elevation-z8"
    src='\assets\img\ingetec-logo.svg'
  />
  <br>



  <mat-divider></mat-divider>

  <button mat-button class="button-menu"  routerLink="/usuario/inicio">
    <mat-icon>edit_note</mat-icon>
    <span>Formulario</span>
  </button>

  <button mat-button class="button-menu"   routerLink="/administrador/inicio" *ngIf="_rol == 2">
    <mat-icon>receipt_long</mat-icon>
    <span>Reporte de Actividades</span>
  </button>

  <button mat-button class="button-menu"   routerLink="/administrador/valorizacion" *ngIf="_rol == 2">
    <mat-icon>monetization_on</mat-icon>
    <span>Reporte de Valorización</span>
  </button>

  <button mat-button class="button-menu"   routerLink="/administrador/empleados" *ngIf="_rol == 2">
    <mat-icon>groups</mat-icon>
    <span>Reporte de Empleados</span>
  </button>

  <button mat-button class="button-menu"   routerLink="/administrador/addEmpleados" *ngIf="_rol == 2">
    <mat-icon>group_add</mat-icon>
    <span>Agregar Personal</span>
  </button>

  <button mat-button class="button-menu"   routerLink="/administrador/dashboard" *ngIf="_rol == 2">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </button>
  
  <mat-divider></mat-divider>


  <div class="container-button">
    <button mat-flat-button
            (click)="logout()"
            matTooltip="Cerrar sesion"
            class="button-logout">
      <mat-icon class="icon">logout</mat-icon>&nbsp;SALIR
    </button>
  </div>

   </div>


    <mat-divider></mat-divider>

    <div class="version">
      <span>{{version}}</span>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>

      <router-outlet>
        <button
        mat-icon-button
        *ngIf="sidenav.mode === 'over'"
        (click)="sidenav.toggle()"
        >
        <mat-icon *ngIf="!sidenav.opened"> arrow_forward </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
      </button>
      </router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
