<app-title-dashboard
[title]="'DASHBOARD'"
></app-title-dashboard>

<div class="content-dashboard">
    <form class="row form-filtro-dashboard">
        <div class="col-12">
          <p class="text-filtro">Seleccione filtro para realizar la búsqueda</p>
        </div>
        <div class="filtro">
            <div class="items-busqueda">
              <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="Start date">
                  <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>

                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
              </mat-form-field>

              <button style="background-color: #3cd419; color: #ffff;" matt-button (click)="filtrar()">Buscar&nbsp;
                <mat-icon>search</mat-icon>
              </button>
            </div>
        </div>
    </form>

    <div class="container-diagramas">
        <div class="diagramas-menu">
            <!--Region de actividades por Trabajador-->
            <div class="container-grafico">
                <highcharts-chart
                    [Highcharts]="HighchartsTrabajador"
                    [options]="chartOptionsTrabajador">
                </highcharts-chart>
            </div>
            <!--Region de Pie-->
            <div class="container-grafico">
                <highcharts-chart
                [Highcharts]="HighchartsSedes"
                [options]="chartOptionsSedes">
                </highcharts-chart>
            </div>

                <!--Region de top de mas actividades realizadas-->
            <div class="container-grafico">
                <highcharts-chart
                [Highcharts]="HighchartsActividades"
                [options]="chartOptionsActividades">
                </highcharts-chart>
            </div>
        </div>
    </div>

</div>
