<div class="content-inicio">

    <app-title-frame
    [title]="'RESUMEN DE VALORIZACION DE ACTIVIDADES COMERCIALES'"
    [link]="'/administrador/inicio'"
    ></app-title-frame>

    <form class="row form-filtro" [formGroup]="form">
      <div class="col-12">
        <p class="text-filtro">Seleccione filtro para realizar la búsqueda</p>
      </div>
  
        <div class="filtro">
          <div class="items-busqueda">
  
            <mat-form-field class="form-item" appearance="outline">
              <mat-label>Segmento</mat-label>
              <mat-select
                          placeholder="Ingresa registra"
                          formControlName="actividad"
                          [(ngModel)]="selectedSegmento">
                <mat-option *ngFor="let segmento of segmentos" [value]="segmento.codigo_seg" >
                  {{segmento.descripcion_seg}}
                </mat-option>
              </mat-select>
            </mat-form-field>
  <!--
            <mat-form-field class="form-item" appearance="outline">
              <mat-label>Lider de Equipo</mat-label>
              <mat-select
                          placeholder="Ingresa registra"
                          formControlName="actividad">
                <mat-option *ngFor="let actividad of actos" [value]="actividad.id_actividad" >
                  {{actividad.lider}}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
  
            <mat-form-field appearance="fill">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
  
              <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
              <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>
  
            <!-- <mat-form-field class="form-item" appearance="outline" >
              <mat-label>Fecha inicial</mat-label>
              <input matInput [(ngModel)]="toDate"
                      >
              <mat-datepicker-toggle matIconSuffix [for]="fecInicio" ></mat-datepicker-toggle>
              <mat-datepicker #fecInicio></mat-datepicker>
            </mat-form-field>
  
            <mat-form-field class="form-item" appearance="outline" >
              <mat-label>Fecha final</mat-label>
              <input matInput
                      [matDatepicker]="fecfin"
                      >
              <mat-datepicker-toggle matIconSuffix [for]="fecfin"></mat-datepicker-toggle>
              <mat-datepicker #fecfin></mat-datepicker>
  
            </mat-form-field> -->
  
            <button style="background-color: #3cd419; color: #ffff;" matt-button (click)="filtrar()">Buscar&nbsp;
              <mat-icon>search</mat-icon>
            </button>
  
            <button style="background-color: blue;color: #ffff;"  matt-button (click)="reset()">Limpiar&nbsp;
              <mat-icon>cleaning_services</mat-icon>
            </button>
          </div>
  
        </div>
  
  
    </form>
  
    <div class="content-tabla col-12" *ngIf="valorizacion.length != 0">
      <table
              datatable
              [dtOptions]="dtOptions"
              class="table table-dark-ingetec"
              >
        <thead>
          <tr>
            <th>Sedes</th>
            <th>Segmentos</th>
            <th>Partida Relacion de Actividades</th>
            <th>Descripción de Actividades</th>
            <th>Unidad</th>
            <th>Precio Unitario Urbano</th>
            <th>Precio Unitario Urbano - Rural</th>
            <th>Precio Unitario Rural</th>
            <th>Cantidades Ejecutadas Urbano</th>
            <th>Cantidades Ejecutadas Urbano - Rural</th>
            <th>Cantidades Ejecutadas Rural</th>
            <th>Importe Valorizado Urbano</th>
            <th>Importe Valorizado Urbano - Rural</th>
            <th>Importe Valorizado Rural</th>
          </tr>
        </thead>
        <tbody *ngIf="valorizacion?.length !=0">
          <tr *ngFor="let valorizacion of valorizacion" class="text-center align-middle border-bottom ">
            <td>{{valorizacion.descripcion_sede}}</td>
            <td>{{valorizacion.descripcion_seg}}</td>
            <td>{{valorizacion.partida_act}}</td>
            <td>{{valorizacion.descripcion_act}}</td>
            <td>{{valorizacion.unidad_act}}</td>
            <td>{{valorizacion.pre_uni_urbano_act}}</td>
            <td>{{valorizacion.pre_uni_ruralUrbano_act}}</td>
            <td>{{valorizacion.pre_uni_rural_act}}</td>
            <td>{{valorizacion.cantidad_urbano_eje}}</td>
            <td>{{valorizacion.cantidad_urbrural_eje}}</td>
            <td>{{valorizacion.cantidad_rural_eje}}</td>
            <td>{{valorizacion.pre_uni_urbano_act * valorizacion.cantidad_urbano_eje}}</td>
            <td>{{valorizacion.pre_uni_ruralUrbano_act * valorizacion.cantidad_urbrural_eje}}</td>
            <td>{{valorizacion.pre_uni_rural_act * valorizacion.cantidad_rural_eje}}</td>

          </tr>
        </tbody>
      </table>
      <div class="button-option download text-center align-middle border-top pt-5">
        <button
          class="descargar-all col-12"
          matTooltip="Descargar todo"
          (click)="dwnExcel()">
          <mat-icon> download </mat-icon>
          <span class="text-button">Descargar toda la Tabla</span>
        </button>
      </div>

    </div>
  </div>






  <ngx-spinner
      bdColor = "rgba(14,14,14,0.8)"
      size = "large"
      color = "#9ad424"
      type = "square-jelly-box"
      [fullScreen] = "false">
      <p style="color: white" > Cargando, espere por favor </p>
  </ngx-spinner>
