<div class="content-inicio">

    <app-title-frame
    [title]="'REPORTE DE PERSONAL'"
    [link]="'/administrador/inicio'"
    ></app-title-frame>
  
    <div class="content-tabla col-12">
      <table 
             datatable
             [dtOptions]="dtOptions"
             class="table table-dark-ingetec">
        <thead>
          <tr >
            <th>Sedes</th>
            <th>Segmentos</th>
            <th>Precio Unitario</th>
            <th>Lider de Equipo</th>
            <th>Cantidades ejecutadas</th>
            <th>Inporte a Valorizar</th>
            <th>Monto por segmentos</th>
          </tr>
        </thead>
        <tbody *ngIf="actos?.length !=0">
          <tr *ngFor="let acto of actos" class="text-center align-middle border-bottom ">
            <td>{{acto.sede}}</td>
            <td>         
              {{acto.actividad}}
              </td>   
            <td>{{acto.lider}}</td>
            <td>{{acto.integrantes}}</td>
            <td>{{acto.actividad}}</td>
            <td>{{acto.actividad}}</td>

            <td>valor</td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div class="button-option download text-center align-middle border-top pt-5">
      <button
          mat-flat-button
          class="descargar-all col-12"
          matTooltip="Descargar todo">
          <mat-icon> download </mat-icon>
          <span class="text-button">Descargar toda la Tabla</span>
  
        </button>
    </div>
  </div>
  
  <ngx-spinner
      bdColor = "rgba(14,14,14,0.8)"
      size = "large"
      color = "#9ad424"
      type = "square-jelly-box"
      [fullScreen] = "false">
      <p style="color: white" > Cargando, espere por favor </p>
  </ngx-spinner>
  