<div class="content-inicio">

    <app-title-frame
    [title]="'RESUMEN DE VALORIZACION DE ACTIVIDADES COMERCIALES'"
    [link]="'/administrador/inicio'"
    ></app-title-frame>

    <div class="content-tabla col-12">
      <table
              datatable
              [dtOptions]="dtOptions"
              class="table table-dark-ingetec"
              *ngIf="valorizacion.length != 0">
        <thead>
          <tr>
            <th>Sedes</th>
            <th>Segmentos</th>
            <th>Partida Relacion de Actividades</th>
            <th>Descripción de Actividades</th>
            <th>Unidad</th>
            <th>Precio Unitario Urbano</th>
            <th>Precio Unitario Rural</th>
            <th>Cantidades Ejecutadas Urbano</th>
            <th>Cantidades Ejecutadas Rural</th>
            <th>Importe Valorizado Urbano</th>
            <th>Importe Valorizado Rural</th>
          </tr>
        </thead>
        <tbody *ngIf="valorizacion?.length !=0">
          <tr *ngFor="let valorizacion of valorizacion" class="text-center align-middle border-bottom ">
            <td>{{valorizacion.descripcion_sede}}</td>
            <td>{{valorizacion.descripcion_seg}}</td>
            <td>{{valorizacion.partida_act}}</td>
            <td>{{valorizacion.descripcion_act}}</td>
            <td>{{valorizacion.unidad_act}}</td>
            <td>{{valorizacion.pre_uni_urbano_act}}</td>
            <td>{{valorizacion.pre_uni_rural_act}}</td>
            <td>{{valorizacion.cantidad_urbano_eje}}</td>
            <td>{{valorizacion.cantidad_rural_eje}}</td>
            <td>{{valorizacion.pre_uni_urbano_act * valorizacion.cantidad_urbano_eje}}</td>
            <td>{{valorizacion.pre_uni_rural_act * valorizacion.cantidad_rural_eje}}</td>

          </tr>
        </tbody>
      </table>
    </div>

    <div class="button-option download text-center align-middle border-top pt-5">
      <button
          mat-flat-button
          class="descargar-all col-12"
          matTooltip="Descargar todo"
          (click)="dwnExcel()">
          <mat-icon> download </mat-icon>
          <span class="text-button">Descargar toda la Tabla</span>

        </button>
    </div>
  </div>

  <ngx-spinner
      bdColor = "rgba(14,14,14,0.8)"
      size = "large"
      color = "#9ad424"
      type = "square-jelly-box"
      [fullScreen] = "false">
      <p style="color: white" > Cargando, espere por favor </p>
  </ngx-spinner>
