<app-titulo-dialog [titulo]="titulo"></app-titulo-dialog>

<div class="">
    <div class="">
        <!-- <form class="row form-filtro">
            <div class="col-12">
            <p class="text-filtro">Seleccione un tipo de registro para realizar la búsqueda</p>
            </div>

            <div class="filtro">
                <div class="items-busqueda">

                <mat-form-field class="form-item" appearance="outline">
                    <mat-label>Segmento</mat-label>
                    <mat-select
                                placeholder="Ingresa registra"
                                formControlName="actividad">
                    <mat-option *ngFor="let actividad of actos" [value]="actividad.id_actividad" >
                        {{actividad.segmento}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-item" appearance="outline">
                    <mat-label>Lider de Equipo</mat-label>
                    <mat-select
                                placeholder="Ingresa registra"
                                formControlName="actividad">
                    <mat-option *ngFor="let actividad of actos" [value]="actividad.id_actividad" >
                        {{actividad.lider}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-item" appearance="outline">
                    <mat-label>Fecha inicial</mat-label>
                    <input matInput
                            [matDatepicker]="fecInicio"
                            >
                    <mat-datepicker-toggle matIconSuffix [for]="fecInicio"></mat-datepicker-toggle>
                    <mat-datepicker #fecInicio></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" >
                    <mat-label>Fecha final</mat-label>
                    <input matInput
                            [matDatepicker]="fecfin"
                            >
                    <mat-datepicker-toggle matIconSuffix [for]="fecfin"></mat-datepicker-toggle>
                    <mat-datepicker #fecfin></mat-datepicker>

                </mat-form-field>

                <button matt-button >BUSCAR
                    <mat-icon>search</mat-icon>
                </button>
                </div>

            </div>


        </form> -->
        <p>Lider: {{data.lider}}</p>
        <div class="content-tabla col-12 ">
            <table
                    class="table table-dark-ingetec">
            <thead>
                <tr >
                <!-- <th>Sede</th> -->
                <th>Nombres</th>
                <th>Apellidos</th>
                <!-- <th>Segmento</th>
                <th>Actividades Realizadas</th>
                <th>Cantidades Ejecutadas Urbanas</th>
                <th>Cantidades Ejecutadas Rurales</th> -->
                <!-- <th>Fecha</th> -->
                <!-- <th>Cuadrilla</th> -->
                </tr>
            </thead>
            <tbody *ngIf="cuadrilla?.length !=0">
                <tr *ngFor="let integrante of cuadrilla" class="text-center align-middle border-bottom ">
                <!-- <td>{{acto.sede}}</td> -->
                <td>{{integrante.nombres_integrante}}</td>
                <td>
                    <!-- <mat-chip-set>
                    <mat-chip> -->
                        {{integrante.apellidos_integrante}}
                    <!-- </mat-chip>
                    </mat-chip-set> -->
                </td>
                <!-- <td>{{acto.segmento}}</td>
                <td>{{acto.actividad_especifica}}</td>
                <td>{{acto.urbano}}</td>
                <td>{{acto.rural}}</td> -->
                <!-- <td>{{acto.fecha }}</td> -->
                <!-- <td>
                    <div class="options">
                    <div class="button-option view">
                        <button
                        mat-flat-button
                        color="primary"
                        class="menu-button bg-blue"
                        matTooltip="Ver cuadrilla"
                        (click)="abrirDetalle()"
                        >
                        Ver
                        <mat-icon> visibility </mat-icon>
                        </button>
                    </div>

                    </div>
                </td> -->
                </tr>
            </tbody>
            </table>
            <!-- <div class="dercargar-all col-12  d-flex justify-content-center">
            <button
                matTooltip="Descargar todo">
                <span class="text-button">Descargar toda la Tabla</span>

                <mat-icon> download </mat-icon>
            </button>
            </div> -->
        </div>
    </div>

    <div class="options col-12 justify-content-center">
        <button mat-flat-button
                class="mt-4 m-1 mb-3"
                type="button"
                color="warn"
                matTooltip="Cerrar modal"
                (click)="cerrar()"
        >
        Cerrar<mat-icon class="icon">close</mat-icon>&nbsp;
        </button>
    </div>

<ngx-spinner
    bdColor = "rgba(14,14,14,0.8)"
    size = "large"
    color = "#9ad424"
    type = "square-jelly-box"
    [fullScreen] = "false">
    <p style="color: white" > Cargando, espere por favor </p>
</ngx-spinner>

