<app-titulo-dialog [titulo]="titulo"></app-titulo-dialog>

<div class="">
    <div class="">
        <div class="content-tabla col-12 ">


            <mat-label style="text-align: center;">Lider de Equipo</mat-label>

            <table
                    class="table table-dark-ingetec">
            <thead>
                <tr>
                <th>Nombres y Apellidos</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center align-middle border-bottom">
                    <td style= "font-size: 13px;">{{data.lider}} </td>
                </tr>
            </tbody>
            </table>


            <mat-label style="text-align: center;">Integrantes</mat-label>

            <table
                    class="table table-dark-ingetec">
            <thead>
                <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                </tr>
            </thead>
            <tbody *ngIf="cuadrilla?.length !=0">
                <tr *ngFor="let integrante of cuadrilla" class="text-center align-middle border-bottom ">
                    <td>{{integrante.nombres_integrante}}</td>
                    <td>{{integrante.apellidos_integrante}}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>

    <div class="options col-12 justify-content-center">
        <button mat-flat-button
                class="mt-4 m-1 mb-3"
                type="button"
                color="warn"
                matTooltip="Cerrar modal"
                (click)="cerrar()"
        >
        Cerrar<mat-icon class="icon">close</mat-icon>&nbsp;
        </button>
    </div>

<ngx-spinner
    bdColor = "rgba(14,14,14,0.8)"
    size = "large"
    color = "#9ad424"
    type = "square-jelly-box"
    [fullScreen] = "false">
    <p style="color: white" > Cargando, espere por favor </p>
</ngx-spinner>

