<div class="content-inicio">

  <app-title-frame
  [title]="'REPORTE DE ACTIVIDADES COMERCIALES DIARIAS'"
  [link]="'/administrador/inicio'"
  ></app-title-frame>


  <form class="row form-filtro" [formGroup]="form">
    <div class="col-12">
      <p class="text-filtro">Seleccione filtro para realizar la búsqueda</p>
    </div>

      <div class="filtro">
        <div class="items-busqueda">

          <mat-form-field class="form-item" appearance="outline">
            <mat-label>Segmento</mat-label>
            <mat-select
                        placeholder="Ingresa registra"
                        formControlName="actividad">
              <mat-option *ngFor="let actividad of actos" [value]="actividad.id_actividad" >
                {{actividad.segmento}}
              </mat-option>
            </mat-select>
          </mat-form-field>
<!--
          <mat-form-field class="form-item" appearance="outline">
            <mat-label>Lider de Equipo</mat-label>
            <mat-select
                        placeholder="Ingresa registra"
                        formControlName="actividad">
              <mat-option *ngFor="let actividad of actos" [value]="actividad.id_actividad" >
                {{actividad.lider}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

          <mat-form-field class="form-item" appearance="outline">
            <mat-label>Fecha inicial</mat-label>
            <input matInput
                    [matDatepicker]="fecInicio"
                    >
            <mat-datepicker-toggle matIconSuffix [for]="fecInicio"></mat-datepicker-toggle>
            <mat-datepicker #fecInicio></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="form-item" appearance="outline" >
            <mat-label>Fecha final</mat-label>
            <input matInput
                    [matDatepicker]="fecfin"
                    >
            <mat-datepicker-toggle matIconSuffix [for]="fecfin"></mat-datepicker-toggle>
            <mat-datepicker #fecfin></mat-datepicker>

          </mat-form-field>

          <button matt-button >BUSCAR
            <mat-icon>search</mat-icon>
          </button>
        </div>

      </div>


  </form>



  <div class="content-tabla col-12 " *ngIf="actos != null">
    <table
           datatable
           [dtOptions]="dtOptions"
           class="table table-dark-ingetec">
      <thead>
        <tr >
          <th>Sede</th>
          <!-- <th>Lider de Equipo</th>
          <th>Cuadrilla</th> -->
          <th>Segmento</th>
          <th>Actividades Realizadas</th>
          <th>Cantidades Ejecutadas Urbanas</th>
          <th>Cantidades Ejecutadas Rurales</th>
          <th>Fecha</th>
          <th>Cuadrilla</th>
        </tr>
      </thead>
      <tbody *ngIf="actos?.length !=0">
        <tr *ngFor="let acto of actos" class="text-center align-middle border-bottom ">
          <td>{{acto.descripcion_sede}}</td>
          <!-- <td>{{acto.lider}}</td>
          <td>
            <mat-chip-list>
              <mat-chip>
                {{acto.integrantes}}
              </mat-chip>
            </mat-chip-list>
          </td> -->
          <td>{{acto.descripcion_seg}}</td>
          <td>{{acto.descripcion_act}}</td>
          <td>{{acto.cantidad_urbano_eje}}</td>
          <td>{{acto.cantidad_rural_eje}}</td>
          <td>{{acto.fecha_cant_eje}}</td>
          <td>
            <div class="options">
              <div class="button-option view">
                <button
                  mat-flat-button
                  color="primary"
                  class="menu-button bg-blue"
                  matTooltip="Ver cuadrilla"
                  (click)="abrirDetalle(acto.codigo_cant_eje, 'Pedro')"
                  >
                  Ver
                  <mat-icon> visibility </mat-icon>
                </button>
              </div>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="button-option download text-center align-middle border-top pt-5">
      <button
        class="descargar-all col-12"
        matTooltip="Descargar todo">
        <mat-icon> download </mat-icon>

        <span class="text-button">Descargar toda la Tabla</span>

      </button>
    </div>
  </div>



</div>










<ngx-spinner
    bdColor = "rgba(14,14,14,0.8)"
    size = "large"
    color = "#9ad424"
    type = "square-jelly-box"
    [fullScreen] = "false">
    <p style="color: white" > Cargando, espere por favor </p>
</ngx-spinner>
