<app-titulo-dialog [titulo]="titulo"></app-titulo-dialog>

<div class="content-dialog">

  <form class="form-dialog" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <!-- <p>INGRESA LOS DATOS REQUERIDOS</p> -->
    <mat-form-field appearance="outline">
        <mat-label>Nombre Empleado</mat-label>
        <input matInput placeholder="Ingrese Nombre Empleado"
        formControlName="nombres_integrante"
        [(ngModel)]="integrante.nombres_integrante"
        >
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Apellido Empleado</mat-label>
        <input matInput placeholder="Ingrese Aplellido Empleado"
        formControlName="apellidos_integrante"
        [(ngModel)]="integrante.apellidos_integrante"
        >
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario"
        formControlName="nombre_usuario"
        [(ngModel)]="integrante.nombre_usuario"
        >
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contraseña"
        formControlName="contrasena_usuario"
        [(ngModel)]="integrante.contrasena_usuario"
        >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Rol</mat-label>      
      <h5>1= Usuario 2= Administrador</h5>
      <input matInput placeholder="rol"
      formControlName="rol_usuario"
      [(ngModel)]="integrante.rol_usuario"
      >
    </mat-form-field>

    <button
        mat-flat-button
        color="primary"
        matTooltip="Agregar Usuario"
        type="submit"
        >
        Actualizar
        <mat-icon>save</mat-icon>
    </button>

</form>

</div>



<ngx-spinner
    bdColor = "rgba(14,14,14,0.8)"
    size = "large"
    color = "#9ad424"
    type = "square-jelly-box"
    [fullScreen] = "false">
    <p style="color: white" > Cargando, espere por favor </p>
</ngx-spinner>

