@use 'src/assets/sass/general.scss' as g;

.title-container{
  // position: relative;
  display: flex;
}

.logo-sunarp{
  position: relative;
  left: -15rem;
  top: 0rem;
  img{
      width: 12rem;
      margin: 1rem 0rem 0rem 2rem;
  }

  // .mat-stroked-button {
  //   border: none;
  //   padding: 0 15px;
  //   margin: 2rem 0;
  //   line-height: 34px;
  //   border-radius: 5rem;
  //   background-color:  rgba(0, 0, 0, 0.6);
  //   font-size: 2rem;

  //   .icon{
  //     background: #d6dad9;
  //     border-radius: 50%;
  //     margin: 0 0.5rem;
  //   }
  // }
}

.button-title {
  // position: absolute;
  // right: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .title{
    // position: relative;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    background: g.$ingetec-cyan;
    // box-shadow: 0 0.25rem 1.6rem rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: none;

    mat-icon{
      // animation: bouncy 0.8s infinite linear;
      // position: relative;
      // width: 50%;
      color: #fff;
    }
  }

  // .title:hover  img{
  //   cursor: pointer;
  //   animation: bouncy 0.3s infinite linear;
  //   position: relative;
  // }
  
  .nombre-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 2rem;
    h1{
      border-radius: 2px;
      position: relative;
      font-weight: 800;
      font-family: 'Montserrat';
      font-style: normal;
      line-height: 1.8rem;
      color: #2B3E3C;
      font-size: 2rem;
      text-align: center;
      line-height: 3rem;
    }
  }

  .circle-gira{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    background: g.$ingetec-red;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    top: 2rem;
    left: 2rem;
    z-index: 0;
  }
  
  .circle-gira2{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    background: g.$ingetec-yellow;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    top: -1rem;
    left: 3rem;
    z-index: 0;
  }
  
  
}




@media (max-width:1100px){
  .logo-sunarp{
    display: none;
  }


}

@media (max-width:730px){

  .button-title{
    .circle-gira2 {
      display: none;
    }
  
    .circle-gira {
      display: none;
    }

    .title{
      display: none;
    }
  }

  
}






