<div class="title-container">
  
  <!-- <div  class="logo-sunarp">
    <img src="\assets\img\logo-consorcio.svg">

    <button mat-stroked-button
      color="$sunarp-gray-dark"
      class="bg-white border-none button-bold"
      [routerLink]="['../inicio']">
      <mat-icon class="icon">arrow_back</mat-icon>&nbsp;Regresar
    </button>
  </div> -->

  

  <div class="button-title">
    <div class="circle-gira2">
    </div>
    <div class="circle-gira">
    </div>  
    <div class="nombre-title">
      <h1>{{title | uppercase}}</h1>
    </div>



    <div class="title">
      <mat-icon>assignment</mat-icon>

    </div>
    


</div>



