<div class="content-inicio">
  <app-title-frame
  [title]="'INGRESE LOS DATOS EN EL FORMULARIO'"
  ></app-title-frame>

  <form class="form-general">
        <!-- <p>INGRESA LOS DATOS REQUERIDOS</p> -->
    <div>
      <div class="row form-inf">
        <mat-vertical-stepper [linear]="true" #stepper labelPosition="bottom"  class="col-md-12">
          <mat-step  [stepControl]="SedeFormGroup">
            <form [formGroup]="SedeFormGroup">
              <ng-template matStepLabel>Sede</ng-template>
              <mat-form-field  appearance="outline" >
                  <mat-label>Seleccione Sede</mat-label>
                  <mat-select
                              [(ngModel)]="selectedSede"
                              (ngModelChange)="changeSede()"
                              required
                              formControlName="firstCtrl"
                              >

                    <mat-option *ngFor="let sede of sedesList" [value]="sede.codigo_sede">
                      {{sede.descripcion_sede}}</mat-option>
                  </mat-select>

                  <br />
                  <mat-error
                    *ngIf="SedeFormGroup.controls['firstCtrl'].hasError('required')"
                  >
                  Seleccione Sede para continuar
                  </mat-error>
              </mat-form-field>
              <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </form>
            <!-- <p >
              Sede Seleccionada: {{sede.descripcion_sede}}
            </p> -->
          </mat-step>

          <mat-step  [stepControl]="CuadrillaFormGroup">

            <form [formGroup]="LiderFormGroup">
              <ng-template matStepLabel>Integrantes del Equipo</ng-template>
              <mat-form-field appearance="outline">
                <mat-label>Lider de Equipo</mat-label>

                <mat-select [(ngModel)]="selectedLider"
                            required
                            formControlName="thirdCtrl">
                  <mat-option *ngFor="let lider of integrantesList"
                              [value]="lider.codigo_integrante">
                    {{lider.nombres_integrante + ' ' +lider.apellidos_integrante}}
                  </mat-option>
                </mat-select>
                <br />
                <mat-error
                  *ngIf="LiderFormGroup.controls['thirdCtrl'].hasError('required')"
                >
                Seleccione Lider  para continuar
                </mat-error>
              </mat-form-field>
            </form>

            <form [formGroup]="CuadrillaFormGroup">
              <mat-form-field appearance="outline">
                <mat-label>Integrantes del equipo</mat-label>
                <mat-select
                            [(ngModel)]="arrayIntegrantes"
                            [compareWith]="equals"
                            formControlName="secondCtrl"
                            multiple
                            required
                            #integrantesSelect
                            >
                  <div class="options">
                    <button
                    mat-raised-button
                    class="mat-primary fill text-sm"
                    (click)="selectAll(integrantesSelect, integrantesList, arrayIntegrantes)"
                    >
                    Selecciona todo
                    </button>
                    <button
                    mat-raised-button
                    class="mat-warn fill text-sm"
                    (click)="deselectAll(integrantesSelect)">
                    Elimina a todos
                    </button>
                  </div>

                  <mat-option *ngFor="let integrantes of integrantesList"
                              [value]="integrantes"
                              >
                  {{integrantes.nombres_integrante + ' ' +integrantes.apellidos_integrante}}
                  </mat-option>
                  <!-- {{arrayIntegrantes | json}} -->
                </mat-select>
                <br />
                <mat-error
                  *ngIf="CuadrillaFormGroup.controls['secondCtrl'].hasError('required')"
                >
                Seleccione Integrantes para continuar
                </mat-error>
              </mat-form-field>
              <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
            </form>
            <br>
            <div class="historia">
              <!-- <p>
                Lider de Equipo: {{lider.value}}
              </p>
              <p >
                Integrantes de equipo
              </p> -->
              <ul>
              <mat-chip-list>
                <mat-chip  *ngFor="let integrantes of selectedIntegrantes">
                  {{integrantes.nombres_integrante + ' ' +integrantes.apellidos_integrante}}
                </mat-chip>
              </mat-chip-list>
              </ul>
            </div>
          </mat-step>

          <mat-step>
              <form  [formGroup]="productForm" style="text-align: center;">
                <label>Actividades realizadas</label>
                <ul>(Click en (+) para agregar nueva actividad)</ul>
                <ng-template matStepLabel>Actividades</ng-template>

                <table class="form-cantidad table"  formArrayName="actividades"  >
                  <div style="text-align: center;" >

                    <mat-form-field class=" date"  appearance="outline" >
                      <mat-label>Ingrese Fecha de Actividad</mat-label>
                      <input matInput style="text-align: center;"
                                      placeholder="Ingrese fecha"
                                      [matDatepicker]="picker"
                                      [formControl]="fecha_act"
                                      [ngModel]="todayDate"
                                      [max]="tomorrow"
                                      (ngModelChange)="toChange()"
                                      [min]="yesterday">
                                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>

                    </mat-form-field>

                    <mat-form-field   appearance="outline">
                        <mat-label>Segmento Realizado</mat-label>
                        <!-- [(ngModel)]="selectedSegmento.id_segmento"
                        (change)="onSelect($event.target.value)" -->
                        <mat-select   [formControl]="segmento"
                                      [(ngModel)]="selectedSegmento"
                                      (ngModelChange)="changeSegmento()">

                          <option value="0"></option>

                          <mat-option *ngFor="let segmento of segmentos " [value]= "segmento.codigo_seg" >
                            {{segmento.descripcion_seg}}
                          </mat-option>

                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>Seleccione Actividad Realizada</mat-label>
                      <mat-select
                                [(ngModel)]="selectActividad_especifica"
                                [formControl]="actividad_especifica" >

                        <!-- <option value="0">--Select--</option> -->
                        <mat-option
                        *ngFor="let actividad_especifica of actividades_especifica" [value]= "actividad_especifica.codigo_act">
                        {{actividad_especifica.descripcion_act}}
                        </mat-option>

                      </mat-select>
                    </mat-form-field>
                    <mat-divider></mat-divider>

                    <label>Cantidades realizadas</label>
                      <div class="cantidad">
                        <div class="item-cantidad">
                          <ul>Urbano</ul>
                          <input type="number"  
                          [min]="minValue"
                          [max]="maxValue"
                          minMax  
                          value="0"  
                          [formControl]="rural" class="form-control col-md-6" required>
                        </div>
                        <div class="item-cantidad">
                          <ul>Rural</ul>
                          <input type="number"  
                          [min]="minValue"
                          [max]="maxValue"
                          minMax   
                          value="0" 
                          [formControl]="urbano" class="form-control col-md-6 " required>
                        </div>
                      </div >
                    <tr class="td-actividad">
                      <button type="button"
                              (click)="agregarActividades()"
                              class="actividad-button add"
                              matTooltip="Agregar nueva actividad"
                              required
                              >
                              Añadir actividad
                        <mat-icon>add</mat-icon>
                      </button>
                    </tr>

                    <div class="actividades" *ngFor="let actividad of actividades().controls; let i=index" [formGroupName]="i">

                      <div>
                        <ul>Fecha Ingresada  <mat-icon>check_circle_outline</mat-icon></ul>
                        <input style="text-align: center;"
                              formControlName="fecha_cant_eje"
                              class="form-control"
                              readonly
                              >
                      </div>

                      <div>
                        <ul>Segmento agregado  <mat-icon>check_circle_outline</mat-icon></ul>
                        <input style="text-align: center;"
                              formControlName="detalle_segmento"
                              class="form-control"
                              readonly>
                      </div>

                      <div>
                        <ul>Actividad específica agregada  <mat-icon>check_circle_outline</mat-icon></ul>
                        <input style="text-align: center;"
                              formControlName="detalle_actividad"
                              class="form-control"
                              readonly>
                      </div>

                      <!-- <label>Cantidades realizadas</label> -->
                      <div class="cantidad">
                        <div class="item-cantidad">
                        <ul>Cantidad de Rural agregada<mat-icon>check_circle_outline</mat-icon></ul>
                            <input type="number" style="text-align: center;"  formControlName="cantidad_rural_eje" class="form-control ">
                        </div>
                        <div class="item-cantidad">
                        <ul>Cantidad en Urbano agregado <mat-icon>check_circle_outline</mat-icon></ul>
                            <input type="number" style="text-align: center;"  formControlName="cantidad_urbano_eje" class="form-control">
                        </div>
                      </div>

                      <div>
                        <div class="col-md-12">
                          <button (click)="quitarActividades(i)"
                                  class="actividad-button delete"
                                  matTooltip="Eliminar cantidad"
                                  type="button">
                                  Eliminar Actividad
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>

                  </div>
                </table>

                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>

              </form>
          </mat-step>

          <mat-step >
            <ng-template matStepLabel>ENVIAR</ng-template>
            <ul>Si esta seguro de los datos ingresados haga click en "Enviar"</ul>
            <div>
            <!-- <button mat-button matStepperPrevious>Anterior</button> -->
            <div class="options col-12 justify-content-center">
                <button
                    mat-flat-button
                    class="send"
                    type="button"
                    color="primary"
                    (click)="onSubmit()"
                    
                    >
                    Enviar
                    <mat-icon class="icon">send</mat-icon>&nbsp;
                </button>
            </div>
              <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </div>
  </form>


  <ngx-spinner
      bdColor = "rgba(14,14,14,0.8)"
      size = "large"
      color = "#9ad424"
      type = "square-jelly-box"
      [fullScreen] = "false">
      <p style="color: white" > Cargando, espere por favor </p>
  </ngx-spinner>
</div>
