<div class="content-inicio">
  <app-title-frame
  [title]="'INGRESE DATOS EN EL FORMULARIO'"
  ></app-title-frame> 
    
  <form class="form-general">
        <!-- <p>INGRESA LOS DATOS REQUERIDOS</p> -->
    <div>
      <div class="row form-inf">
        <mat-vertical-stepper [linear]="false" #stepper  class="col-md-12">
          <mat-step>
            <form [formGroup]="SedeFormGroup">
              <ng-template matStepLabel>Sede</ng-template>
              <mat-form-field  appearance="outline">
                  <mat-label>Seleccione Sede</mat-label>
                  <mat-select [formControl]="sede" >
                    <mat-option *ngFor="let sede of sedesList" [value]="sede">
                      {{sede}}</mat-option>
                  </mat-select>
              </mat-form-field>

            </form>

            <p>
              Sede Seleccionada: {{sede.value}}
            </p>
          </mat-step>

          <mat-step >
            <form>
              <ng-template matStepLabel>Integrantes del Equipo</ng-template>

              <mat-form-field   appearance="outline" [formGroup]="LiderFormGroup">
                <mat-label>Lider de Equipo</mat-label>

                <mat-select [formControl]="lider">
                  <mat-option *ngFor="let lider of integrantesList" [value]="lider">
                    {{lider}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline" [formGroup]="IntegrantesFormGroup">
                <mat-label>Integrantes del equipo</mat-label>

                <mat-select [formControl]="integrantes" 
                            [multiple]="true" 
                            [(ngModel)]="selectedIntegrantes" 
                            #integrantesSelect
                            #multiSelect>
                <div class="options">
                  <button 
                  mat-raised-button 
                  class="mat-primary fill text-sm" 
                  (click)="selectAll(integrantesSelect, integrantesList, selectedIntegrantes)">
                  Selecciona todo
                  </button>
                  <button 
                  mat-raised-button 
                  class="mat-warn fill text-sm" 
                  (click)="deselectAll(integrantesSelect)">
                  Elimina a todos
                  </button>
                </div>

                  <mat-option  
                              [value]="integrantes" 
                              *ngFor="let integrantes of integrantesList" 
                              >
                              {{integrantes}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
                <p>
                  Lider de Equipo: {{lider.value}}
                </p>
                <p >
                  Integrantes de equipo
                </p>
                <ul>
                <mat-chip-list>
                  <mat-chip  *ngFor="let integrantes of integrantesSelect?.value">
                    {{integrantes}}
                  </mat-chip>
                </mat-chip-list>
                </ul>
            </form>
          </mat-step>

          <mat-step>
              <form  [formGroup]="productForm" style="text-align: center;">
                <label>Actividades realizadas</label>
                <ul>(Click en (+) para agregar nueva actividad)</ul>
                <ng-template matStepLabel>Actividades</ng-template>

                <table class="form-cantidad table"  formArrayName="actividades"  >
                  <div style="text-align: center;" >

                    <mat-form-field class=" date"  appearance="outline" >
                      <mat-label>Ingrese Fecha de Actividad</mat-label>
                      <input matInput style="text-align: center;"
                                      placeholder="Ingrese fecha"  
                                      [matDatepicker]="picker" 
                                      [formControl]="fecha_act" 
                                      [ngModel]="todayDate">
                                      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>

                    </mat-form-field>

                    <mat-form-field   appearance="outline">
                        <mat-label>Segmento Realizado</mat-label>
                        <mat-select [formControl]="segmento">
                          <mat-option *ngFor="let segmento of segmentosList" [value]="segmento">
                            {{segmento}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field   appearance="outline">
                      <mat-label>Seleccione Actividad Realizada</mat-label>
                      <mat-select [formControl]="actividad_especifica">
                        <mat-option *ngFor="let actividad_especifica of actividad_especificaList" [value]="actividad_especifica">
                          {{actividad_especifica}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-divider></mat-divider>

                    <label>Cantidades realizadas</label>
                      <div class="cantidad">
                        <div class="item-cantidad">
                          <ul>Urbano</ul> 
                          <input type="number" [formControl]="rural" class="form-control col-md-6" required>
                        </div>
                        <div class="item-cantidad">
                          <ul>Rural</ul> 
                          <input type="number" [formControl]="urbano" class="form-control col-md-6 " required>
                        </div>
                      </div >
                    <tr class="td-actividad">
                      <button type="button"
                              (click)="agregarActividades()"
                              class="actividad-button add"
                              matTooltip="Agregar nueva actividad">
                              Añadir actividad
                        <mat-icon>add</mat-icon>
                      </button>
                    </tr>


                    <div class="actividades" *ngFor="let actividad of actividades().controls; let i=index" [formGroupName]="i">

                      <div>
                        <ul>Fecha Ingresada  <mat-icon>check_circle_outline</mat-icon></ul> 
                        <input style="text-align: center;" 
                              formControlName="fecha_actividad" 
                              class="form-control" 
                              [ngModel]="todayDate |  date:'shortDate'">
                      </div>
                    
                      <div>
                        <ul>Segmento agregado  <mat-icon>check_circle_outline</mat-icon></ul> 
                        <input style="text-align: center;"  
                              formControlName="detalle_segmento" 
                              class="form-control">
                      </div>

                      <div>
                        <ul>Actividad específica agregada  <mat-icon>check_circle_outline</mat-icon></ul> 
                        <input style="text-align: center;"  
                              formControlName="detalle_actividad" 
                              class="form-control">
                      </div>
                      

                      
                      <!-- <label>Cantidades realizadas</label> -->
                      <div class="cantidad">
                        <div class="item-cantidad">
                        <ul>Cantidad de Rural agregada  <mat-icon>check_circle_outline</mat-icon></ul>
                            <input style="text-align: center;"  formControlName="cantidad_rural" class="form-control ">
                        </div> 
                        <div class="item-cantidad">
                        <ul>Cantidad en Urbano agregado <mat-icon>check_circle_outline</mat-icon></ul> 
                            <input style="text-align: center;"  formControlName="cantidad_urbano" class="form-control">
                        </div>
                      </div>

                      <div>
                        <div class="col-md-12">
                          <button (click)="quitarActividades(i)"
                                  class="actividad-button delete"
                                  matTooltip="Eliminar cantidad"
                                  type="button">
                                  Eliminar Actividad
                            <mat-icon>delete</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                    
                  </div> 
                </table>
              </form>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>ENVIAR</ng-template>

            <!-- <ul>RESUMEN DE ACTIVIDAD</ul>

              <div class="marco-resumen">
                <label>Sede</label>
                <ul>
                  <mat-chip-list>
                    <mat-chip>
                      {{sede.value}}
                    </mat-chip>
                  </mat-chip-list>  
                </ul>
              </div>

              <div class="marco-resumen">
                <label>Lider de Equipo</label>
                <ul>
                  <mat-chip-list>
                    <mat-chip>
                      {{lider.value}}
                    </mat-chip>
                  </mat-chip-list>    
                </ul>
              </div>


              <div class="marco-resumen">
                <label>Cuadrilla</label>
                <ul>
                  <mat-chip-list>
                    <mat-chip  *ngFor="let integrantes of integrantesSelect?.value">
                      {{integrantes}}
                    </mat-chip>
                  </mat-chip-list>
                </ul>            
              </div>
            

              <mat-divider></mat-divider>

              <div class="marco-resumen">
                <label>Fecha de Actividad</label>
                <ul>
                  {{fecha_act.value |  date:'shortDate'}}
                </ul>            
              </div>

              <div class="marco-resumen">
                <label>Segmento</label>
                <ul>
                  <mat-chip-list>
                    <mat-chip>
                      {{segmento.value}}
                    </mat-chip>
                  </mat-chip-list>
                </ul>            
              </div> -->
            



            <ul>Si esta seguro de los datos ingresados haga click en "Enviar"</ul> 
            <div>
            <!-- <button mat-button matStepperPrevious>Anterior</button> -->
            <div class="options col-12 justify-content-center">
                <button
                    mat-flat-button
                    class="send"
                    type="button"
                    color="primary"
                    >
                    Enviar
                    <mat-icon class="icon">send</mat-icon>&nbsp;
                    
                </button>
            </div>
              <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </div>
    </div>     
  </form>
      
      
  <ngx-spinner
      bdColor = "rgba(14,14,14,0.8)"
      size = "large"
      color = "#9ad424"
      type = "square-jelly-box"
      [fullScreen] = "false">
      <p style="color: white" > Cargando, espere por favor </p>
  </ngx-spinner>
</div>