
<div class="content-inicio">

    <app-title-frame
    [title]="'AGREGAR USUARIO'"
    [link]="'/administrador/inicio'"
    ></app-title-frame>


    <div class="add">
        <button
            mat-flat-button
            color="primary"
            matTooltip="Agregar Usuario"
            (click)="agregarEmpleado()"
            >
            Agregar Nuevo
            <mat-icon>person_add</mat-icon>
        </button>
    </div>

    <div class="content-tabla col-12" >
      <table
            datatable
            [dtOptions]="dtOptions"
            class="table table-dark-ingetec"
            *ngIf="integrantes.length != 0">
        <thead>
          <tr>
            <th>N°</th>
            <th>Nombre Empleado</th>
            <th>Apellido Empleado</th>
            <th>Usuario</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody >
          <tr class="text-center align-middle border-bottom "
              *ngFor="let integrante of integrantes; index as i" >
            <td>{{i+1}}</td>
            <td>{{integrante.nombres_integrante}}</td>
            <td>{{integrante.apellidos_integrante}}</td>
            <td>{{integrante.nombre_usuario}}</td>
            <td>
              <div class="option-button ">
                <button
                    color="primary"
                    class="edit"
                    matTooltip="Editar Usuario"
                    (click)="editarEmpleado(integrante.codigo_integrante)"
                    >
                    <mat-icon>edit</mat-icon>
                </button>

                <button
                    color="primary"
                    class="delete"
                    matTooltip="Eliminar Usuario"
                    *ngIf="integrante.estado_integrante == 1"
                    (click)="changeEstado(integrante.codigo_integrante,0)"
                    >
                    <mat-icon> delete </mat-icon>
                </button>

                <button
                    color="primary"
                    class="activar"
                    matTooltip="Activar  Usuario"
                    *ngIf="integrante.estado_integrante == 0"
                    (click)="changeEstado(integrante.codigo_integrante,1)"
                    >
                    <mat-icon> add_task </mat-icon>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>


<ngx-spinner
    bdColor = "rgba(14,14,14,0.8)"
    size = "large"
    color = "#9ad424"
    type = "square-jelly-box"
    [fullScreen] = "false">
    <p style="color: white" > Cargando, espere por favor </p>
</ngx-spinner>
