@use 'src/assets/sass/general.scss' as g;

.descargar-all{
    background: g.$ingetec-aprobe;
    width: 50%;
    color: #ffff;
    font-family: 'Montserrat';
    // mat-icon{
    //     // width: 100%;
    //     // color: #ffff;
    // }
}